* {
  box-sizing: border-box;
}
body {
  background-color: #cbffb7;
  margin: 0;
  padding: 0;
}
.container {
  display: grid;
  grid-template-columns: auto;
  column-gap: 20px;
  row-gap: 30px;
}

.head {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 20px;
  justify-content: space-between;
  background-image: url("../images/farm1.jpg");
  background-size: cover;
}

.head h1 {
  color: darkgreen;
}
.head img {
  border-radius: 100px;
}

.headnav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.topnav {
  font-weight: bold;
  color: black;
  font-size: 30px;
  padding: 10px;
  display: none;
}
.topnav a:link,
.topnav a:visited {
  text-decoration: none;
  color: black;
}
.headnav ul li {
  display: inline-block;
}
.headnav li a.first2:link {
  font-size: 25px;
}
.headnav li a:link,
.headnav li a:visited {
  text-decoration: none;
  color: black;
  display: block;

  font-weight: bold;
  font-size: 20px;
}

.headnav li a:hover {
  color: black;
  font-size: 23px;
}
.headnav li:not(:last-child) {
  margin-right: 15px;
}
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 8px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.ad {
  width: 100%;
  height: 80px;
  display: grid;

  grid-template-columns: 25% 25% 25% 25%;
  align-items: center;
  text-align: right;
  padding: 5px;
  background-color: orange;
  border: 2px solid black;
  background-size: cover;
  position: sticky;
  top: 0;
  z-index: 1;
  animation-name: adbar;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  margin-bottom: 30px;
  column-gap: 30px;
}
.col img {
  float: left;
  text-align: center;
  padding: 15px;
}
.col .clear {
  clear: both;
  overflow: auto;
}

.main {
  display: grid;
  grid-template-columns: 60% 40%;
  row-gap: 50px;
}
.maincover {
  display: grid;
  grid-template-columns: 80% 20%;
  margin-bottom: 40px;
}
.main section {
  width: 80%;
  height: 500px;
  border: 2px solid rgb(114, 198, 247);
  padding: 30px;
  background-image: url("../images/green.jpg");
  background-size: cover;
  -webkit-box-shadow: -1px 1px 5px 9px rgba(86, 190, 86, 0.75);
  -moz-box-shadow: -1px 1px 5px 9px rgba(86, 190, 86, 0.75);
  box-shadow: -1px 1px 5px 9px rgba(86, 190, 86, 0.75);
}

.main .rmore {
  text-align: right;
}

.main a:link,
.main a:visited {
  text-decoration: none;
  color: darkgreen;
}

.main img {
  border-radius: 150px;
  -webkit-box-shadow: -1px 1px 5px 9px rgba(86, 190, 86, 0.75);
  -moz-box-shadow: -1px 1px 5px 9px rgba(86, 190, 86, 0.75);
  box-shadow: -1px 1px 5px 9px rgba(86, 190, 86, 0.75);
}

#hidden {
  text-align: center;
  display: none;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
#invisible {
  text-align: center;
  display: none;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.son2 {
  text-align: center;
  border-left: 2px solid darkgreen;
  padding: 10px;
}

.son2 .world {
}

.son2 ul li {
  margin-bottom: 20px;
}

.son2 .tree {
  border-radius: 20px;
}
.son2 ul {
  list-style: none;
}
ul li {
  margin-bottom: 15px;
}
.son2 ul a:link,
.son2 ul a:visited {
  text-decoration: none;
  color: black;
}
.mySlides {
  display: none;
}
img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  margin: 60px;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
.footer {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #8189ab;
  height: 400px;
  width: 100%;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.foot1 {
  display: grid;
  grid-template-columns: auto auto;
  padding: 40px;
}
.foot1 ul {
  list-style: outside;
}
.foot1 li a:link,
.foot1 li a:visited {
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 500px) {
  .ad {
    display: none;
  }
  .head {
    grid-template-columns: auto;
    align-items: flex-start;
    text-align: left;
    margin-bottom: 80px;
    height: 400px;
  }

  .main {
    grid-template-columns: auto;
    row-gap: 50px;
    padding-left: 50px;
  }
  .container {
    row-gap: 15px;
  }

  .headnav {
    display: none;
    position: static;
  }
  .maincover {
    grid-template-columns: 100%;
    text-align: center;
  }
  .topnav {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
  }
  .topnav a {
    display: block;
  }
  .headnav ul {
    background-color: transparent;
    overflow: hidden;
  }
  .headnav ul li {
    display: block;
    text-align: center;
  }
  .headnav ul a:link,
  .headnav ul a:visited {
    color: white;
  }

  .headnav ul li:not(:last-child) {
    border-bottom: 1px dotted white;
  }
  .head {
    height: 400px;
  }
  .text {
    font-size: 11px;
  }
  .sidesec {
    margin-top: 50px;
    padding-top: 30px;
    border-top: 1px dotted gray;
  }
}
