* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: #cbffb7;
}
.container {
  display: grid;
  grid-template-columns: auto;
  row-gap: 30px;
}

.head {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  text-align: center;
  background-color: #8ac4df;
  height: 200px;
}
.head img {
  border-radius: 100px;
  animation-name: bird;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes bird {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.head h1 {
  color: rgb(86, 190, 86);
}
.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav ul li {
  display: inline-block;
}
.nav li a:link,
.nav li a:visited {
  text-decoration: none;
  color: black;
  display: block;
  color: darkgreen;
  font-weight: bold;
  font-size: 20px;
}
.nav li:not(:last-child) {
  margin-right: 15px;
}
.main {
  display: grid;
  grid-template-columns: auto auto;
  text-align: center;
  padding: 20px;
}
.main section {
  width: 90%;
  height: 500px;
  border: 2px solid rgb(114, 198, 247);
  padding: 30px;
  background-image: url("../images/green.jpg");
  background-size: cover;
  -webkit-box-shadow: -1px 1px 5px 9px rgba(86, 190, 86, 0.75);
  -moz-box-shadow: -1px 1px 5px 9px rgba(86, 190, 86, 0.75);
  box-shadow: -1px 1px 5px 9px rgba(86, 190, 86, 0.75);
}

.item1 .rmore {
  text-align: right;
}

.item1 a:link,
.item1 a:visited {
  text-decoration: none;
  color: darkgreen;
}

main .item2 {
  max-width: 60%;
}
.main .item2 img {
  border-radius: 150px;
  -webkit-box-shadow: -1px 1px 5px 9px rgba(86, 190, 86, 0.75);
  -moz-box-shadow: -1px 1px 5px 9px rgba(86, 190, 86, 0.75);
  box-shadow: -1px 1px 5px 9px rgba(86, 190, 86, 0.75);
}
.hidden {
  text-align: center;
  display: none;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.invisible {
  text-align: center;
  display: none;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
